# ==================== #
# Unity generated      #
# & Okomotive specific #
# ==================== #
Temp/
/Library/
/UserSettings/
/Logs/
/SwitchIL2CPPCache/
/SwitchIL2CPPStats/
AssetStoreTools/
AssetStoreTools.*
Screenshots/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# ==== #
# FMOD #
# ==== #
FMODStudioCache*
/fmod/Build/*
!/fmod/Build/Desktop
/fmod/*.user
/fmod/*.unsaved
/fmod/*.cache
/fmod/*.restore
/fmod/Assets*
/fmod.log
/fmod_editor.log
.vs/

# ==== #
# GOG  #
# ==== #
/Galaxy64.dll
/GalaxyCSharpGlue.dll
Builds/
